$theme: var(--theme, #333);
$compare: var(--compare, #fff);
$back: var(--back, #fff);
$nav: var(--nav, rgba(59, 59, 59, 0.605));
$banner: var(--banner, #fff);
$btn: var(--btn, #000);
$main: var(--main, #007bff);
$soft: var(--soft, #007bff);
$hoverBtn: var(--hoverBtn, #409cff);
