$theme: var(--theme, #fff);
$compare: var(--compare, #666);
$back: var(--back, #fff);
$nav: var(--nav, rgba(59, 59, 59));
$banner: var(--banner, #fff);
$realBanner:var(--realBanner,#fff);
$btn: var(--btn, #000);
$main: var(--main, #007bff);
$soft: var(--soft, #007bff);
$hoverBtn: var(--hoverBtn, #409cff);
$stepFont:var(--stepFont,#36be1bff);
$stepIcon:var(--stepIcon,#fff);
$navExtends: var(--navExtends, rgb(106, 106, 106));
$navShadow: var(--navShadow, rgb(142, 142, 142));
$conBack: var(--conBack, rgb(72, 72, 72));