@font-face {
  font-family: "iconfont"; /* Project id 4018146 */
  src: url('iconfont.woff2?t=1681734055722') format('woff2'),
       url('iconfont.woff?t=1681734055722') format('woff'),
       url('iconfont.ttf?t=1681734055722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima2:before {
  content: "\e63a";
}

.icon-mima3:before {
  content: "\e621";
}

.icon-querenmima:before {
  content: "\e7b3";
}

.icon-nextstep:before {
  content: "\e628";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e65a";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-xianshikejian:before {
  content: "\e88b";
}

.icon-guanbi1:before {
  content: "\eaf2";
}

.icon-shoujihaoma:before {
  content: "\e7ec";
}

