@font-face {
  font-family: "iconfont"; /* Project id 4018146 */
  src: url('iconfont.woff2?t=1681636274499') format('woff2'),
       url('iconfont.woff?t=1681636274499') format('woff'),
       url('iconfont.ttf?t=1681636274499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-xianshikejian:before {
  content: "\e88b";
}

.icon-guanbi1:before {
  content: "\eaf2";
}

.icon-shoujihaoma:before {
  content: "\e7ec";
}

.icon-mima:before {
  content: "\e632";
}

